<div class="uk-container">
  <button routerLink="/home" routerLinkActive="active" uk-icon="home" class="uk-button uk-button-primary"></button>
  <button routerLink="/tabela-periodica" routerLinkActive="active" class="uk-button uk-button-danger">ETR</button>
  <button routerLink="/historia" routerLinkActive="active" class="uk-button uk-button-primary">História</button>
  <button routerLink="/aplicacoes" routerLinkActive="active" class="uk-button uk-button-primary">Aplicações</button>
  <button routerLink="/cadeia-produtiva" routerLinkActive="active" class="uk-button uk-button-primary">Cadeia
    Produtiva</button>
  <button routerLink="/cenario-mundial" routerLinkActive="active" class="uk-button uk-button-primary">Cenário
    Mundial</button>
  <button routerLink="/trabalho-cetem" routerLinkActive="active" class="uk-button uk-button-primary">Trabalho no
    CETEM</button>
</div>
