<div [formGroup]="form">
  <mat-slider class="slider"
              *ngIf="!isRangeSlider(); else isRanged"
              [min]="properties.min!"
              [max]="properties.max!"
              [step]="properties.step!"
              [disabled]="properties.isDisabled"
              [(value)]="value"
              (change)="onChangeValue()"
              thumbLabel="true">
  </mat-slider>

  <ng-template #isRanged>
    <div style="display: flex; width: 100%">
      <mat-range-slider [min]="properties.min!"
                        [max]="properties.max!"
                        [step]="properties.step!"
                        [disabled]="properties.isDisabled"
                        thumbLabel="true"
                        [(ngModel)]="rangeValue">
      </mat-range-slider>
    </div>
  </ng-template>
</div>
