<ng-container *ngIf="!summary.applyForms; else applyForms">
  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Model Parameters</mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let constant of summary.modelConstants">
        <div>
          <h3>{{ constant.symbol }}</h3>
          <span>a: {{ constant.a }}</span>
          <span>b: {{ constant.b }}</span>
          <span>[aq.]: {{ constant.initialAqueousConcentration }} {{ uomByMaterialTypesAsObject['rare-earth']['concentration']}}</span>
          <span>[org.]: {{ constant.initialOrganicConcentration }} {{ uomByMaterialTypesAsObject['rare-earth']['concentration']}}</span>
        </div>
      </ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Operational Variables</mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let variable of operationalVariables">
        <div>
          <h3>{{ variable.name }}</h3>
          <span>min: {{ variable.value[0] }}</span>
          <span>max: {{ variable.value[1] }}</span>
        </div>
      </ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Economic Variables</mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let variable of summary.economicVariables">
        <div>
          <h3>{{ variable.symbol ?? variable.name }}</h3>
          <ng-container *ngFor="let property of uomByMaterialTypesAsArray[variable.type]">
            <h4>{{ property.name }}</h4>
            <span>{{ property.physChemProperty === 'price' && variable.price ? variable.price : property.value }}</span>
            <span>{{ property.uom }}</span>
          </ng-container>
        </div>
      </ng-container>
    </mat-expansion-panel>

  </mat-accordion>
</ng-container>


<ng-template #applyForms>

</ng-template>
