<form [formGroup]="form">

  <h2 mat-dialog-title>
    <app-input [properties]="propertiesToForm.project" [form]="form"></app-input>
  </h2>
  <app-button (clickEvent)="onCancel()" buttonName="X"></app-button>

  <mat-accordion multi="true">

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>Model Parameters</mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngFor="let modelConstant of getModelConstants.controls; let i=index">

        <app-dropdown [properties]="propertiesToForm.modelConstants[i].etr"
                      [form]="getGroupInArray(modelConstant)"
                      (onSelectEvent)="onSelectEtr($event)">
        </app-dropdown>

        <ng-container *ngFor="let params of getModelConstantPropertyToForms(i).controls; let j=index">
          <app-input [properties]="propertiesToForm.modelConstants[i].modelConstantPropertyToForms[j].constant" [form]="getGroupInArray(params)"></app-input>
          <app-dropdown [properties]="propertiesToForm.modelConstants[i].modelConstantPropertyToForms[j].constantUom"
                        [form]="getGroupInArray(params)"
                        *ngIf="propertiesToForm.modelConstants[i].modelConstantPropertyToForms[j].constantUom.value !== 'Dimensionless'">
          </app-dropdown>
        </ng-container>
      </ng-container>

    </mat-expansion-panel>


    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>Operational Variables</mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngFor="let operationalVariable of getOperationalVariables.controls; let i=index">
        <app-input [properties]="propertiesToForm.operationalVariables[i].variableName" [form]="getGroupInArray(operationalVariable)"></app-input>
        <app-slider [properties]="propertiesToForm.operationalVariables[i].sliderRange" [form]="getGroupInArray(operationalVariable)"></app-slider>
        <app-input [properties]="propertiesToForm.operationalVariables[i].step" [form]="getGroupInArray(operationalVariable)"></app-input>
      </ng-container>

    </mat-expansion-panel>


    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>Economic Variables</mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngFor="let economicVariables of getEconomicVariables.controls; let i=index">
        <app-input [properties]="propertiesToForm.economicVariables[i].materialType" [form]="getGroupInArray(economicVariables)"></app-input>
        <app-dropdown [properties]="propertiesToForm.economicVariables[i].material" [form]="getGroupInArray(economicVariables)"></app-dropdown>
        <app-input [properties]="propertiesToForm.economicVariables[i].price" [form]="getGroupInArray(economicVariables)"></app-input>
        <app-dropdown [properties]="propertiesToForm.economicVariables[i].priceUom" [form]="getGroupInArray(economicVariables)"></app-dropdown>
      </ng-container>

    </mat-expansion-panel>

  </mat-accordion>
</form>


<mat-dialog-actions align="end">
  <app-button (clickEvent)="onSave()" buttonName="Save"></app-button>
  <app-button (clickEvent)="onCancel()" buttonName="Cancel"></app-button>
</mat-dialog-actions>
