<div class="uk-grid">
  <div class="uk-card uk-card-hover uk-grid-1-3" routerLink="/tabela-periodica" routerLinkActive="active">
    <div class="uk-card-media-top">
      <img src="../../../assets/periodic-table.jpg" alt="">
    </div>
    <div class="uk-card-body">Os Elementos de Terras Raras</div>
  </div>
  <div class="uk-card uk-card-hover uk-grid-1-3" routerLink="/historia" routerLinkActive="active">
    <div class="uk-card-media-top">
      <img src="../../../assets/history.jpg" alt="">
    </div>
    <div class="uk-card-body">História</div>
  </div>
  <div class="uk-card uk-card-hover uk-width-1-3" routerLink="/aplicacoes" routerLinkActive="active">
    <div class="uk-card-media-top">
      <img src="../../../assets/wind-turbines.jpg" alt="">
    </div>
    <div class="uk-card-body">Aplicações</div>
  </div>
  <div class="uk-card uk-card-hover uk-width-1-3" routerLink="/cadeia-produtiva" routerLinkActive="active">
    <div class="uk-card-media-top">
      <img src="../../../assets/productive-chain.jpg" alt="">
    </div>
    <div class="uk-card-body">Cadeia Produtiva</div>
  </div>
  <div class="uk-card uk-card-hover uk-width-1-3" routerLink="/cenario-mundial" routerLinkActive="active">
    <div class="uk-card-media-top">
      <img src="../../../assets/world-cenario.jpg" alt="">
    </div>
    <div class="uk-card-body">Cenário Mundial</div>
  </div>
  <div class="uk-card uk-card-hover uk-grid-1-3" routerLink="/trabalho-cetem" routerLinkActive="active">
    <div class="uk-card-media-top">
      <img src="../../../assets/cetem.jpg" alt="">
    </div>
    <div class="uk-card-body">Trabalho no CETEM</div>
  </div>
</div>
