<mat-expansion-panel class="panel">

  <mat-expansion-panel-header class="panel-header">
    <mat-panel-title class="panel-title">
      {{isIsotherm ? 'Isotherm' : 'Projects'}} Simulation Panel
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-grid-list cols=7 rowHeight="8:1" class="grid">

    <mat-grid-tile colspan="3" rowspan="4" class="upper-button-tile">
      <div class="wrapper">
        <app-button (clickEvent)="onRunSimulation()" buttonName="Run" color="accent" class="run-button">
        </app-button>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="operation-variables-tile" colspan="4" rowspan="8">
      <div *ngIf="isIsotherm" class="sliders-wrapper">
        <div class="slider-wrapper" *ngFor="let variable of operationalVariables">
          <label for="slider" class="slider-label">{{variable.name}}</label>
          <app-slider class="slider" [params]="variable" (changeValueEvent)="onChangeSliderValue($event)">
          </app-slider>
          <label for="slider" class="slider-label">{{variable.value}}</label>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="4" class="lower-button-tile">
      <div class="wrapper">
        <app-button (clickEvent)="onCreateNewProject()"
                    buttonName="Create New Project"
                    class="create-new-project-button">
        </app-button>
        <app-dropdown label="Load Existing Project..."
                      [options]="projectOptionsToDropdown"
                      (onSelectEvent)="onClickCheckbox($event)"
                      [multiple]="true"
                      class="load-projects-dropdown">
        </app-dropdown>
      </div>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-accordion multi="true">
    <ng-container *ngFor="let project of projects">
      <mat-expansion-panel class="panel" *ngIf="project.isSelected">
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title class="panel-title">{{project.longString}}</mat-panel-title>
          <mat-panel-description>
            <app-button (clickEvent)="onConfigureProject(project)" buttonName="Config" class="button configure-button"></app-button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-summary [summary]="project.projectConfiguration"></app-summary>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>

</mat-expansion-panel>
