$light-grey: rgb(201, 201, 201);
$medium-grey: rgb(161, 161, 161);
$dark-grey: rgb(53, 53, 53);
$light-green: rgb(135, 214, 135);
$dark-green: rgb(52, 78, 52);


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
